<div class="row">
  <div class="col-2">
    <span>Buscar por nombre: </span>
    <input
    type="text"
    placeholder="Ingrese al filtro"
    class="form-control"
    name="filterNombre"
    [(ngModel)]="filterNombre"
    />
  </div>
  <div class="col-2">
    <span>Buscar por género: </span>
    <select name="filterGenre" class="form-control" [(ngModel)]="filterGenre">
      <option selected value="">(Seleccione)</option>
      <option *ngFor="let objeto of categoriaGenre" [value]="objeto.name">{{ objeto.name }}</option>
    </select>

  </div>
  <div class="col-2">
    <span>Buscar por plataforma: </span>
    <select name="filterPlatform" class="form-control" [(ngModel)]="filterPlatform">
      <option selected value="">(Seleccione)</option>
      <option *ngFor="let objeto of categoriaPlatform" [value]="objeto.name">{{ objeto.name }}</option>
    </select>
  </div>
</div>
<br />
<div class="row" style="overflow-x: auto; width:100%; height: 600px;">
  <div class="col-xl-4 col-lg-6 mb-4" *ngFor="let game of games | filter:filterNombre:filterGenre:filterPlatform">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img
            src="{{game.thumbnail}}"
            alt=""
            style="width: 65px; height: 65px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1"><a href="detail-game/{{ game.id }}">{{game.title}}</a></p>
            <!-- <p class="fw-bold mb-1">{{game.genre}}</p> -->
            <!-- <p class="fw-bold mb-1">{{game.platform}}</p> -->
            <p class="text-muted mb-0">{{game.short_description | truncate : 45 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
